* {
    margin: 0px;
    padding: 0px;
}

body {
    min-width: 800px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    padding: 30px;

}

a {
    padding: 5px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/*MAIN*/

/*section 1*/

.s1 {
    text-align: center;
    background-image: url(images/images_s1/Group\ 25.png);
    padding: 160px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.s1 .p1 {
    background-color: #605555;
    font-size: 20px;
    margin: 30px auto;
    width: 30%;
    padding: 10px 0px;
    font-family: 'Roboto';
    font-weight: 100;

}

p {
    font-weight: 300;
}

/*section 2*/

.s2 {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    padding: 80px;
}

.s2 div {
    text-align: center;
    padding: 25px;

}

.img {
    padding: 5px;
    border: 1px solid #369E8A;
    border-radius: 80px;
}

.s2 img {
    border: 0px;
    padding: 25px 20px;
}

h5 {
    font-family: 'Monserrat';
    font-weight: bold;
    padding: 20px;
}

.s2 p {
    font-size: 11px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/*section 3*/

.s3 {
    background-color: #C4C4C4;
    text-align: center;


}

.s3 div {
    padding: 40px;

}

h2 {
    padding: 30px;
    font-size: 40px;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
}

li {
    padding: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*section 4*/


.s4 img {
    width: 100%;
    height: 100%;
    object-fit: scale-down;

}

.div1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    

}

.img1 {
    background-color: #83CBCF;

}

.img2 {
    background-color: #67B4CC;

}

.img3 {
    background-color: #717967;

}

.img4 {
    background-color: #649A97;

}

.img5 {
    background-color: #827263;

}

.img6 {
    background-color: #35A0AE;

}

.img7 {
    background-color: #237792;

}

.img8 {
    background-color: #A5C0AD;

}



/*section 5*/

.s5 {
    text-align: center;
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
}

.s5 .div {
    display: flex;
    
    justify-content: space-evenly;
    padding: 50px;
}

.d2 {
    padding: 15px;
}

.d3 {
    padding: 15px;
}

.d3 .p2 {
    float: right;

}

.d3 .p1 {
    float: left;
}

.box {
    border: 0px;
    border-radius: 10px;
    padding: 5px;
    background-color: cadetblue;
}

.container {
    border: 0px;
    border-radius: 10px;
    width: 290px;
    background-color: #C4C4C4;
}

.one {
    width: 97%;
}

.two {
    width: 80%;
}

.three {
    width: 90%;
}

.A {
    margin-top: 14%;
    margin-left: 6%;
}

.four {
    width: 50%;
}

/*section 6*/
.s6 {
    text-align: center;
    padding: 30px;
    background-color: #A5C0AD;
    font-family: 'Montserrat', sans-serif;
}

.s6 p {
    padding: 50px;
}

.s6 div {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
   gap: 20px;
}
.s6 img{
    width: 100%;
}




/*section 7*/
.s7 {
    text-align: center;
    padding: 50px;
    font-family: 'Montserrat', sans-serif;
}

.s7 p {
    padding: 20px;
}

.s7 .p1 {
    font-weight: 900;
}

/*FOOTER*/
footer {
    text-align: center;
    padding: 50px;
    background-color: #C4C4C4;
    font-family: 'Montserrat', sans-serif;
    ;
}

footer .div {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.div+p {
    padding: 20px;
}

footer .p1 {
    padding: 20px;
    font-size: 10px;
    color: rgba(75, 75, 75, 0.494);
}

@media screen and (max-width:500px) {
    body {
        min-width: 500px;
        
    }

    /*HEADER*/


    nav {
        display: flex;
        flex-direction: column;

    }


    /*MAIN*/

    /*section 1*/
    .s1 {
        background-repeat: no-repeat;
    }

    .s1 .p1 {
        background-color: #605555;
        font-size: 20px;
        margin: 30px auto;
        width: 50%;
        padding: 10px 0px;
        font-family: 'Roboto';
        font-weight: 100;

    }


    /*section 2*/

    .s2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: white;
        padding: 100px;
    }

    .s2 div {
        text-align: center;
        padding: 25px;

    }

    .img {
        padding: 10px;
        border: 1px solid #369E8A;
        border-radius: 90px;
    }

    .s2 img {
        border: 0px;
        padding: 40px 0px;
    }

    h5 {
        font-size: 14px;
        font-family: 'Monserrat';
        font-weight: bold;
        padding: 20px;
    }

    .s2 p {
        font-size: 14px;
        font-weight: 300;
        font-family: 'Montserrat', sans-serif;
    }


    /*section 3*/



    ul {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        list-style-type: none;
        width: 100%;
    }


    /*section 4*/


    .div1 {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        
    }
   

    /*section 5*/


    .s5 .div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px;
    }

    .d2 {
        padding: 10px;
    }

    .d3 {
        padding: 30px;
    }
    .d3 .p1{
        padding-right: 20px;
    }

    .A {
        margin-top: 21%;
        margin-left: 4%;
    }
    /*section 6*/
    .s6 div{
        grid-template-columns: 1fr 1fr 1fr;
    }
    .icon{
        grid-column: 2;
    }

    /*FOOTER*/


    footer .div {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 50px;
    }

}
@media screen and (max-width:300px) and (min-width:200px) {
    
    .s4 .div1{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    .s6 div{
        grid-template-columns: 1fr 1fr;
    }
}


@media screen and (max-width:201px) {
   
    .s4 .div1{
        display: grid;
        grid-template-columns: 1fr  ;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .s6 div{
        display: block;
       padding: 50px;
    }
    .s6 img{
        padding: 10px;
    }
}