* {
    margin: 0px;
    padding: 0px;
}

/*HEADER*/

header {
    display: flex;
    justify-content: space-around;
    background-color: white;
    text-align: center;
    padding: 30px;
}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
}

/*MAIN*/

/*section 1*/

.s1 {
    text-align: center;
    background-image: url(images/images_s1/Group\ 25.png);
    padding: 160px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.p1 {
    background-color: #605555;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    width: 33%;
    padding: 10px 20px;
    font-family: 'Roboto';
    font-weight: 100;

}

p {
    font-weight: 300;
}

/*section 2*/

.s2 {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 80px;
}

.s2 div {
    text-align: center;
    padding: 30px;

}

.s2 img {
    border: 1px solid #369E8A;
    border-radius: 80px;
    padding: 30px;
    margin: 10px;
}

h4 {
    font-family: 'Monserrat';
    font-size: 16px;
    font-weight: bold;
    padding: 20px;
}

.s2 p {
    font-size: 11px;
    font-weight: 300;
    font-family: 'Montserrat', sans-serif;
}

/*section 3*/

.s3 {
    background-color: #C4C4C4;
    text-align: center;
    padding: 30px;
}

.s3 div {
    padding: 30px;
}

h2 {
    padding: 30px;
    font-size: 40px;
    font-family: sans-serif;
}

ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
}

li {
    padding: 20px;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

/*section 4*/

.s4 {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 0px;
}

.img1 {
    background-color: #83CBCF;
    padding: 99px 102px;
}

.img2 {
    background-color: #67B4CC;
    padding: 47px 60px;
}

.img3 {
    background-color: #717967;
    padding: 88px 60px;
}

.img4 {
    background-color: #649A97;
    padding: 82px 89px;
}

.img5 {
    background-color: #827263;
    padding: 69px 50px;
}

.img6 {
    background-color: #35A0AE;
    padding: 76px 98px;
}

.img7 {
    background-color: #237792;
    padding: 89px 75px;
}

.img8 {
    background-color: #A5C0AD;
    padding: 96px 74px;
}

/*section 5*/

.s5 {
    text-align: center;
    padding: 50px;
}

.div {
    display: flex;
    justify-content: space-evenly;
    padding: 50px;
}

.d2 {
    padding: 20px;
}

.d3 {
    display: inline;
}

.d3 p {
    float: right;
}

.d3 label {
    float: left;
}

.d2 input {
    width: 150px;

}
/*section 6*/
.s6{
    text-align: center;
    padding: 50px;
    background-color: #A5C0AD;
}
.s6 img{
    width: 20%;
    
}
/*section 7*/
.s7{
    text-align: center;
    padding: 50px;
}


/*FOOTER*/
footer{
    text-align: center;
    padding: 50px;
    background-color: #C4C4C4;
}